:root{
  --orange-color: #F67B00;
  --yellow-color: #FEAB00;
  --yellow-hover-color:#fecb00;
}
  
@font-face
{
    font-family: tropiland;
    src: url(TropiLand.ttf);
}

p{
  font-family: tropiland;
}

a{
  font-family: tropiland;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;

    margin: 0; /*Pour ne pas avoir de dépassement*/
}



header
{
  display: grid;
  grid-template-columns: 2fr 8fr 1fr; /*  nom à gauche, les liens au mileu */
  align-items: center; /* centre verticalement */
  text-align: center;  /*centre horizontalement */
  background: linear-gradient(to right,var(--orange-color),var(--yellow-color));
}

main
{
    background-color: var(--yellow-color);
    background-image: url(assets/nidabeille.png);
    align-items: center;
    text-align: center;
}



.logo {
    width: 120px;
    height: auto;  /* conserve les proportions */
}
.logo:hover
{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.nav-link {
  text-decoration: none;
  background-color: var(--yellow-color);
  color: var(--orange-color);
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  width: 50%;
}

.nav-link:hover {
  background-color: var(--yellow-hover-color);
  transform: scale(1.05);
}

/*Menu Burger */

.menu-icon
{   
    display: none;
    
}

.menu-icon:hover
{
    cursor: pointer;
}




@media  (max-width: 1249px){
  main{
    background-size: 100%;
  }
  
}


@media (max-width: 700px) {
  body {
    background-color: lightblue;
  }
  .menu-icon
  {
    display: block;
    z-index: 1;
    justify-self: center; /*Permet de centrer le burger */
    margin: 0;
    width: 80px;
    height: auto;
  }
  .menu-icon:hover
  {
    transform: scale(1.10);
    transition: all 0.5s ease;
  }

  header{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .nav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 100vw;
    top: 100%; /* parent : header car postion relative top100% deplace le nav à 100% de la hauteur de son conteneur parent*/
    height: calc(100vh - 100%);
    backdrop-filter: blur(7px);
    transition: all 0.5s ease;
    margin-left: -100%;
   }
  .mobile-menu
  {
    margin-left: 0;
  }
  
  .welcome
  {
    font-size: 4em;
  }

  .nav-link
   {
    display: block;
   }
   h2 
   {
    grid-row: 1;
   }
}

@media (max-width: 600px)
{
  .welcome
  {
    font-size: 2em;
  }

}

@media (max-width: 500px)
{
  .logo {
    width: 80px;
    height: auto;  /* conserve les proportions */
}
}