:root{
  --orange-color: #F67B00;
  --yellow-color: #FEAB00;
  --yellow-hover-color:#fecb00;
}
  
/* 1. Curseur Flèche Classique (Miel) */
html {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M8 4l15 11-7 2 3 7-3 1-3-7-5 5z' fill='%23fbbf24' stroke='%23b45309' stroke-width='1.5'/%3E%3C/svg%3E") 8 4, auto;
}

/* 2. Curseur Main (Hover) */
a, 
button, 
input[type="submit"],
input[type="button"],
.logo, 
.logoFoot,
.nav-link,
.ruche-image, 
.photo-wrapper, 
.photo-wrapperCarte,
.membre, 
.todayButton, 
.datePrevious, 
.dateNext, 
#FormatSelect,
#close-fiche,
#btn-retour,
td,
.tree,
.scattered-flower,
.cloud-svg {
    /* Main Classique version Miel - Hotspot (14,4) */
cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath d='M10,2 L12,2 C13,2 13,3.5 13,5 L13,13 L18,13 C20.5,13 22,14.5 22,17 L22,23 C22,26 20,28 17,28 L12,28 C10,28 8,26 8,24 L8,21 C6,21 5,20 5,18 C5,16 6.5,15.5 8,15.5 L8,5 C8,3.5 8.5,2 10,2 Z' fill='%23FEAB00' stroke='%23F67B00' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E") 11 2, pointer !important;
}
@font-face
{
    font-family: tropiland;
    src: url(TropiLand.ttf);
}

p{
  font-family: tropiland;
}

a{
  font-family: tropiland;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;

    margin: 0; /*Pour ne pas avoir de dépassement*/
}



header
{
  display: grid;
  grid-template-columns: 2fr 8fr 1fr; /*  nom à gauche, les liens au mileu */
  align-items: center; /* centre verticalement */
  text-align: center;  /*centre horizontalement */
  background: linear-gradient(to right,var(--orange-color),var(--yellow-color));
}

main
{
    /* background-color: var(--yellow-color); */
    align-items: center;
    text-align: center;
}



.logo {
    width: 120px;
    height: auto;  /* conserve les proportions */
}
.logo:hover
{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: center;
  justify-items: center;
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  background-color: var(--yellow-color);
  color: var(--orange-color);
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  width: 50%;
}

.nav-link:hover {
  background-color: var(--yellow-hover-color);
  transform: scale(1.05);
}

/*Menu Burger */

.menu-icon
{   
    display: none;
    
}

.menu-icon:hover
{
    cursor: pointer;
}




@media  (max-width: 1249px){
  main{
    background-size: 100%;
  }
  
}


@media (max-width: 700px) {
  
  .menu-icon
  {
    display: block;
    z-index: 1;
    justify-self: center; /*Permet de centrer le burger */
    margin: 0;
    width: 80px;
    height: auto;
  }
  .menu-icon:hover
  {
    transform: scale(1.10);
    transition: all 0.5s ease;
  }

  header{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .nav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 100vw;
    top: 100%; /* parent : header car postion relative top100% deplace le nav à 100% de la hauteur de son conteneur parent*/
    height: calc(100vh - 100%);
    backdrop-filter: blur(7px);
    transition: all 0.5s ease;
    margin-left: -100%;
    z-index: 1000;
   }
  .mobile-menu
  {
    margin-left: 0;
  }
  
  .welcome
  {
    font-size: 4em;
  }

  .nav-link
   {
    display: block;
   }
   h2 
   {
    grid-row: 1;
   }
}

@media (max-width: 600px)
{
  .welcome
  {
    font-size: 2em;
  }

}

@media (max-width: 500px)
{
  .logo {
    width: 80px;
    height: auto;  /* conserve les proportions */
}
}

/* --- Version Mobile PAYSAGE (Orientation Landscape) --- */
@media (max-height: 650px) and (orientation: landscape) {
    .logo {
      width: 60px;
      height: auto;  /* conserve les proportions */
    }

    .menu-icon
    {
      display: block;
      z-index: 1;
      justify-self: center; /*Permet de centrer le burger */
      margin: 0;
      width: 80px;
      height: auto;
    }
    .menu-icon:hover
    {
      transform: scale(1.10);
      transition: all 0.5s ease;
    }

    header{
      grid-template-columns: 1fr 1fr;
      text-align: center;
      align-items: center;
      position: relative;
    }
    .nav {
      display: grid;
      position: absolute;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px;
      width: 100vw;
      top: 100%; /* parent : header car postion relative top100% deplace le nav à 100% de la hauteur de son conteneur parent*/
      height: calc(100vh - 100%);
      backdrop-filter: blur(7px);
      transition: all 0.5s ease;
      margin-left: -100%;
      z-index: 1000;
    }
    .mobile-menu
    {
      margin-left: 0;
    }

    .welcome
    {
      font-size: 2em;
    }


}