body{

    grid-template-rows: 1fr 8fr 1fr;
    
   
}

footer{
    background-color: var(--orange-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.containerLogoFoot
{
    grid-column: 2;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

main
{

    display: grid;
    
}

.welcome{
    font-size: 9em;
    color: var(--orange-color);
}




.logoFoot
{
    width: 80px;
    height: auto;
}

.logoFoot:hover
{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}


