body{
  
    grid-template-rows: 1fr 9fr;
 
}

header
{
  display: grid;
  grid-template-columns: 2fr 8fr 1fr; /*  nom à gauche, les liens au mileu */
  align-items: center; /* centre verticalement */
  text-align: center;  /*centre horizontalement */
  background: linear-gradient(to right,var(--orange-color),var(--yellow-color));
}

main
{ 
 
    display: flex;
    flex-direction: column;
    

}