body{
    display: grid;
    height: 100vh;
    width: 100vw;
   
   /* flex-wrap: nowrap; */ /* utilité ?*/ 
  /*flex-direction: column;*/
    grid-template-rows: 1fr 9fr;
    margin: 0; /*Pour ne pas avoir de dépassement*/
}



main
{ 
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    min-height: 0; 
    overflow: auto;
}

.container
{
  display: grid;
  grid-template-rows: 0.1fr 1fr;

}

.containerPhotos
{
  display: flex;
  justify-content: center;
}

.photo
{
  margin: 10px;
  border-radius: 110px;
}

.photo:hover
{
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}


@media (max-width: 700px) {
  
  
   .containerPhotos
   {
    flex-direction: column;
   }
  }

